*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
}

body {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	background: black;
}

h1{
	font-size: 7em;
	font-weight: 500;
	color: #787878;
	letter-spacing: 5px;
	cursor: pointer;
}

h1 span {
	transition: 1s;
}
h1:hover span:nth-child(1)
{
	margin-right: 30px;
}

h1:hover span:nth-child(2)
{
	margin-right: 30px;
}

h3{
	font-size: 5em;
	font-weight: 500;
	color: #222;
	letter-spacing: 5px;
	cursor: pointer;
}

h3 span {
	transition: 1s;
}
h3:hover span:nth-child(1)
{
	margin-right: 30px;
}

h3:hover span:nth-child(2)
{
	margin-right: 30px;
}