* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
}

body{
	background: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    padding-left: 2.8vw;
    padding-right: 2.8vw;
  }
  
  .navbar-left {
    text-decoration: none;
    font-family: 'Montserrat';
    transition: transform 0.4s ease;
  }

  .navbar-left:hover{
	transform: scale(1.2);
}

  .nameclass {
  	color: #9E9E9F;
  	font-family: 'Montserrat';
  	font-weight: 900;
  	font-size: 18px;
  }

  .imclass {
  	color: black;
  	font-family: 'Montserrat';
  	font-weight: 900;
  	font-size: 18px;
  }

  .aboutcl {
  	color: #9E9E9F;
  	font-family: 'Montserrat';
  	font-weight: 900;
  	font-size: 15px;
  }

  .mecl {
  	color: black;
  	font-family: 'Montserrat';
  	font-weight: 900;
  	font-size: 15px;
  }

  .navbar-right {
    display: flex;
  }

  .navbar-right a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    font-family: 'Montserrat';
  }

  .navbar-right a:hover {
    background-color: white;
    color: black;
  }

.backbox {
	background: linear-gradient(to bottom right, #EEFFF2, #EEF1FF, #FFEEFB);
	width: 94vw;
	height: 86.5vh;
	border-radius: 35px;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	margin-top: 2vh;
	margin-bottom: 5vh;
	align-self: center;
	align-content: center;
	background-attachment: fixed;
	background-position: center;
	transition: transform 0.4s ease;
	}


#dynamic-text {
			font-family: 'Montserrat';
			font-weight: bold;
			font-size: 74px;
			color: #9E9E9F;
			padding-left: 5vw;
			padding-top: 7vh;
		}

		#dynamic-text span {
			opacity: 0;
			font-family: 'Montserrat';
			transition: opacity 0.5s ease-in-out;
			color: black;
		}

		#dynamic-text span.show {
			opacity: 1;
			font-family: 'Montserrat';
		}

	

.show {
	font-family: 'Montserrat';
}	

.maintext {
	padding-left: 5.5vw;
	width: 89vw;
	padding-top: 3vh;
	font-size: 18px;
	font-family: 'Montserrat';
	color: black;
	letter-spacing: 0.5px;
	line-height: 40px;
}

.hmt {
	font-size: 18px;
	font-family: 'Montserrat';
	color: #9E9E9F;
	letter-spacing: 0.5px;

}

.insta{
	transition: transform 0.4s ease;
}

.insta:hover{
	transform: scale(1.2);
}

.linkedin{
	transition: transform 0.4s ease;
}

.linkedin:hover{
	transform: scale(1.2);
}

.backbox:hover{
	transform: scale(1.02);
}